body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "VT323", monospace;
  font-size: 18px;
  text-transform: uppercase;
  background: white;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.tile {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.photo {
  width: 98%;
  height: 98%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}

.word {
  text-align: center;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 90%;
  padding: 5px 0;
  border-radius: 3px;
}

.hovered .photo {
  animation: shake 0.3s;
}

.clicked .photo {
  animation: zoom 1s;
  z-index: 1000;
}

@keyframes shake {
  20% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  40% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  60% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  80% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  100% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#scores {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255, 0.5);
  pointer-events: none;
}

#cost {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 48px;
  color: #30d5c8;
}

#gauges {
  position: fixed;
  bottom: 20px;
  left: 5px;
  display: flex;
  flex-direction: row;
}

.gauge {
  padding: 2px;
  text-align: center;
  width: 100px;
}

#reset {
  position: fixed;
  top: 20px;
  left: 20px;
}

#reset-button {
  color: black;
  text-align: center;
  cursor: pointer;
  padding: 3px 5px;
}

#reset-button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#reset-button:active {
  background: #30d5c8;
}

#banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#banner-content {
  width: 70%;
  height: 60%;
  text-align: center;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #banner-content p {
  margin: 0.5em 0;
} */

#buttons {
  display: flex;
  margin: auto;
}

#ok-button {
  background-color: #30d5c8;
  margin: 0 10px;
  cursor: pointer;
  padding: 3px 5px;
}

#cancel-button {
  background-color: grey;
  margin: 0 10px;
  cursor: pointer;
  padding: 3px 5px;
}


@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 15px;
  transition: 0.5s;
  padding-top: 10%;
}

.button {
  border: 2px solid black;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 20px 5px;
  border-radius: 50%;
  width: 100px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: lowercase;
}

.button:hover {
  border: 2px solid #30d5c8;
  color: #30d5c8;
  background-color: none;
}

a.button {
  text-decoration: none;
  color: #000000;
}

a {
  text-decoration: none;
  color: #30d5c8;
}

.popupTrailer {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.5s;
}

.popup-content {
  height: 550px;
  width: 850px;
  background: #ffffff;
  padding: 20px;
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 10px 10px #30d5c8;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
}

.popupPoster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.5s;
}

.popup-poster-content {
  height: 550px;
  width: 850px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.poster {
  width: 60%;
  height: auto;
}

.closePoster {
  position: absolute;
  top: 30px;
  right: 200px;
  cursor: pointer;
  width: 50px;
}

.popupAbout {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.5s;
}

.textAbout--style {
  font-family: "Source Sans Pro", sans-serif;
  text-transform: none;
  font-size: 28px;
}
.sendEmail {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-transform: none;
}

.closeAbout {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
}

.textAbout {
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;
}

/* mobile screen adaptation */
@media only screen and (max-width: 800px) {
  .popup-content {
    height: 550px;
    width: 450px;
  }

  .textAbout--style {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: none;
    font-size: 20px;
  }
  .sendEmail {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    text-transform: none;
  }
  .closePoster {
    right: 23%;
    width: 40px;
  }

  .popupPoster {
    top: -10%;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 430px) {
  .closePoster {
    right: 14%;
    width: 30px;
  }

  .poster {
    width: 90%;
    height: auto;
  }

  .popupPoster {
    top: 10%;
  }

  .sidenav {
    height: 0;
    width: 100%;
  }

  .button {
    width: 45px;
    height: 9px;
    margin-top: 1px;
    margin-left: 1px;
  }

  p {
    font-size: 16px;
  }

  a.button {
    padding-top: 6px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .popup-content {
    height: 450px;
    width: 300px;
  }

  .textAbout--style {
    font-size: 17px;
  }

  .sendEmail {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    text-transform: none;
  }

  .closeAbout {
    width: 30px;
  }

  .textAbout {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .close {
    width: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .button {
    width: 30px;
    height: 5px;
    margin-top: 2px;
    margin-left: 1px;
  }

  a.button {
    padding-top:10px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
  }
}

@media only screen and (max-width: 100px) {

.gauge {
  padding: 2px;
  text-align: center;
  width: 100px;
}
  
}
